<div class="container">
  <div class="page-header">
    <h1><i class="fas fa-id-badge"></i> Empleados Registrados</h1>
    <button class="btn-registro" (click)="goToCrearEmpleado()">
      <i class="fas fa-user-plus"></i> Crear Empleado
    </button>
  </div>

  <div class="card">
    <table class="tabla-personas">
      <thead>
        <tr>
          <th>N° Empleado</th>
          <th>Nombre Completo</th>
          <th>Cargo</th>
          <th>Departamento</th>
          <th>Correo</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empleados">
          <td>{{ emp.numeroEmpleado }}</td>
          <td>{{ emp.nombreCompleto }}</td>
          <td>{{ emp.cargo }}</td>
          <td>{{ emp.departamento }}</td>
          <td>{{ emp.correo }}</td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <div class="volver-container">
    <button class="btn-volver" (click)="volver()">
      <i class="fas fa-arrow-left"></i> Volver al Menú
    </button>
  </div>
</div>
