<div class="header-top">
  <h2><i class="fas fa-tools"></i> Área de Mantenimiento</h2>
</div>

<div class="registro-container">
  <div class="button-list">
    <button class="list-button" (click)="navegar('/nivel-academico')">
      <i class="fas fa-graduation-cap"></i> Nivel Académico
    </button>
    <button class="list-button" (click)="navegar('/profesion')">
      <i class="fas fa-briefcase"></i> Profesión
    </button>
    <button class="list-button" (click)="navegar('/cargo')">
      <i class="fas fa-user-tie"></i> Cargo
    </button>
    <button class="list-button" (click)="navegar('/direccion')">
      <i class="fas fa-building"></i> Dirección
    </button>
    <button class="list-button" (click)="navegar('/departamento')">
      <i class="fas fa-sitemap"></i> Departamento
    </button>
    <button class="list-button" (click)="navegar('/salon')">
      <i class="fas fa-door-open"></i> Salón
    </button>
    <button class="list-button" (click)="navegar('/institucion')">
      <i class="fas fa-university"></i> Institución
    </button>
    <button class="list-button" (click)="navegar('/tipo-reunion')">
      <i class="fas fa-comments"></i> Tipo de Reunión
    </button>
    <button class="list-button" (click)="navegar('/recursos')">
      <i class="fas fa-boxes"></i> Recursos
    </button>
    <button class="list-button" (click)="navegar('/roles')">
      <i class="fas fa-user-shield"></i> Rol
    </button>
  </div>
</div>
