<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>SIGECAP</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

</head>
<body>
  <header class="topbar">
    <div class="brand">SIGECAP</div>
    <nav class="nav">
      <a href="#">Inicio</a>
      <a href="#">Iniciar sesión</a>
    </nav>
  </header>

  <section class="hero">
    <div>
      <img src="assets/img/LOGO TSC 2024_Mesa de trabajo.png" class="d-block mx-auto mt-3" alt="Logo" style="width: 15%; height: auto;">
      <h1>Bienvenido al SIGECAP</h1>
      <p>Gestiona y participa en los eventos de formación institucional del Tribunal Superior de Cuentas.</p>
    </div>
  </section>

  <!-- Separador ondulado del mismo color -->
  <svg class="wave" viewBox="0 0 1440 80" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" aria-hidden="true">
    <path d="M0,64 C240,0 480,0 720,64 C960,128 1200,128 1440,64 L1440,80 L0,80 Z" fill="var(--primary)"/>
  </svg>

  <main class="wrap">
    <div class="cards-container">
  <div class="info-card">
    <div class="info-card__icon">
      <img src="assets/img/capacitacion.png" alt="Capacitaciones">
    </div>
    <div>
      <h4 class="info-card__title">Capacitaciones</h4>
      <p class="info-card__desc">Explora, inscríbete y da seguimiento a tus procesos formativos en un solo lugar.</p>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card__icon">
      <img src="assets/img/capacitacion.png" alt="Capacitaciones">
    </div>
    <div>
      <h4 class="info-card__title">Capacitaciones</h4>
      <p class="info-card__desc">Explora, inscríbete y da seguimiento a tus procesos formativos en un solo lugar.</p>
    </div>
  </div>

  <div class="info-card">
    <div class="info-card__icon">
      <img src="assets/img/capacitacion.png" alt="Capacitaciones">
    </div>
    <div>
      <h4 class="info-card__title">Capacitaciones</h4>
      <p class="info-card__desc">Explora, inscríbete y da seguimiento a tus procesos formativos en un solo lugar.</p>
    </div>
  </div>
</div>


  </main>
  <footer>
    © 2025 Gerencia de Informática Tribunal Superior de Cuentas.
  </footer>
</body>
</html>

