<div class="header-top">
  <button class="back-btn" (click)="volver()" aria-label="Volver a Mantenimiento">
  <i class="fas fa-arrow-left"></i> Volver a Mantenimiento
</button>
  <h2>Recursos Técnologicos</h2>
</div>

<div class="registro-container">
  <form (ngSubmit)="guardar()" #recursoForm="ngForm">
    <div class="form-group">
      <label for="recurso">Recursos</label>
      <input
        type="text"
        id="recurso"
        name="recurso"
        [(ngModel)]="recurso"
        required
        placeholder="Ejemplo: Proyector, Pizarra, Computadora..."
      />
    </div>

    <div class="form-actions">
      <button type="submit" [disabled]="!recursoForm.form.valid">
        <i class="fas fa-save"></i> Guardar
      </button>
      <button type="button" class="btn-limpiar" (click)="limpiar()">
        <i class="fas fa-eraser"></i> Limpiar
      </button>
    </div>
  </form>
</div>

